<mat-toolbar>
  <mat-toolbar-row>
    <span>BURGER EATS</span>
    &nbsp; &nbsp;
    <div>
      <a href="products.html>">Produtos</a>
      &nbsp; &nbsp;
      <a href="about.html">Sobre nós</a>
      &nbsp; &nbsp;
      <a href="contact.html">Contato</a>
      &nbsp; &nbsp;
      <a href="#cardapio">Cardapio</a>
    </div>


    <a class="example-spacer"></a>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
