<section class="featured-dishes" id="contato">
  <h2 class="section-title">FALE CONOSCO</h2>

  <div class="contact1">
    <div class="container-contact1">
      <div class="contact1-pic js-tilt" data-tilt>
        <div style="overflow:hidden;width: 700px;position: relative; float:left;"><iframe width="570" height="440"
            src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Rua%20Louren%C3%A7o%20Marques%2C%20158+(Burger%20Eats)&amp;ie=UTF8&amp;t=&amp;z=12&amp;iwloc=B&amp;output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          <div
            style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
            <small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a
                href="https://embedgooglemaps.com/fr/">Embedgooglemaps FR</a> & <a
                href="http://wpthemepark.com/themes/fallseason/">get real traffic to your website</a></small></div>
          <style>
            #gmap_canvas img {
              max-width: none !important;
              background: none !important
            }
          </style>
        </div><br />

      </div>

    </div>
  </div>

</section>
